.movies {
  max-width: calc(1280px - 80px * 2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 70px;
  row-gap: 60px;
  column-gap: 30px;
  margin: 70px 0 auto;
}

.movies__more {
  margin: 15px auto 100px;
  color: #fff;
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  border: 1px solid #424242;
  width: 320px;
  height: 36px;
  background: #202020;
  cursor: pointer;
}
.movies__more_container {
  display: flex;
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
}

@media screen and (max-width: 1279px) {
  .movies {
    max-width: calc(100% - 30px * 2);
    padding: 0 30px;
    row-gap: 47px;
    grid-template-columns: 1fr 1fr;
  }
  .movies__more {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    padding: 0 10px;
    row-gap: 39px;
    margin-top: 40px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .movies__more {
    width: 240px;
    margin-top: 3px;
    margin-bottom: 99px;
  }
}
