.footer {
  padding-top: 0;
  margin-top: 94px;
  width: 100%;
  max-width: calc(100% - 70px * 2);
}
@media screen and (min-width: 1280px) {
  .footer {
    max-width: calc(1280px - 70px * 2);
  }
}

.footer__description {
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__link {
  color: #fff;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer__underline-container {
  display: flex;
  justify-content: space-between;
}

.footer__container-links {
  display: flex;
  gap: 20px;
}

.footer__year {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__line {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 79px;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 380px) {
  .footer {
    padding-top: 79px;
    margin: 0 0 20px 0;
  }
  .footer__description {
    font-size: 12px;
  }
  .footer__underline-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
  }
  .footer__container-links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__year {
    font-size: 12px;
  }
}
