.header__link_loggedIn {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header__link_loggedIn {
    display: none;
  }
}

.header__profile {
  width: 100px;
  height: 36px;
  flex-shrink: 0;
  color: #fff;
  border-radius: 20px;
  border: none;
  background: #313131;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__profile {
    display: none;
  }
}

.header__burger {
  cursor: pointer;
  border: none;
  background: transparent;
}
@media screen and (min-width: 769px) {
  .header__burger {
    display: none;
  }
}
